h1 {
    text-align: center;
}

div.featured {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20vh;
        margin-bottom: 10vh;

        h1 {
            font-size: 23px;
        }
}

@media screen and (max-width: 490px) {
    div.featured {
        margin-top: 10vh;
    }
}

nav.nav {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;

    a {
        text-decoration: none;
        color: var(--primary);
    }

    a:hover {
        text-decoration: underline;
        color: black;
    }
}

@media screen and (max-width: 490px) {
    nav.nav {
        display: none;
    }

    div.featured h1 {
        color: var(--primary);
    }
}