.navItem {
    display: none;
}

@media screen and (max-width:490px) {
    .navItem {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            p {
                margin-left: -10px;
            }
        }
}