@media screen and (max-width: 490px) {
    .navbar_mobile {
        height: 10vh;
        background-color: var(--primary);
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        color: #f4d4cf;
        
        .storefront, .search, .chat, .history, .person {
            font-size: 28px;
            cursor: pointer;
        }
    }
}