/* FOR DESKTOP SCREENS */
div.product {
    height: 50vh;
    width: 19vw;

    .addtocartWrapper {
        background-color: var(--blue);
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;
    }

    .addtocartButton {
            display: block !important;
            color: white;
            margin-left: 9px;
        }
}
@media screen and (max-width: 490px) {
    div.product {
        height: 35vh;
        width: 22vh;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    }

    .addtocartButton {
        color: white !important;
        font-size: 20px !important;
    }
}