/* FOR DESKTOP SCREENS */
div.products_container {
    margin-top: 2rem;
}

div.product {
    height: 50vh;
    width: 19vw;
    background-color: white;
    color: var(--primary);
    padding: 2px;
    border-radius: 12px;
    border: 2px solid var(--primary);
        

    img {
        border-radius: 12px;
    }

    .priceAndDescription {
        
        h3 {
            color: var(--primary);
        }
    }

    .addtocartButton {
        display: block !important;
        color: var(--blue);
        font-size: 20px;
        padding-right: 15px;
        cursor: pointer;
    }
}
@media screen and (max-width: 490px) {
    div.product {
        height: 38vh;
        width: 23vh;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    }

    .addtocartWrapper {
        background-color: var(--blue);
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .addtocartButton {
        display: flex !important;
    }

    .for-mobile {
        padding: 5px 0;
        margin-left: 13px;
    }
}