/* FOR DESKTOP DEVICES */

header {
    display: flex;
    justify-content: space-between;
    font-family: var(--lato);
    color: var(--primary);
    font-size: 20px;
    height: 10vh;
    align-items: center;
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: white;
    height: 10vh;

    .settings {
        display: none;
    }

    .logo {
        padding-left: 2rem;
        font-family: var(--pacifico);
        font-weight: normal;
    }

    .largeScreenStyle {
        display: flex;
        padding-right: 1rem;
        align-items: center;
        gap: 1rem;
        
        .shopping_cart {
            font-size: 25px;
            cursor: pointer;
        }
        
        .person {
            font-size: 30px;
            cursor: pointer;
        }
        
        a {
            text-decoration: none;
            color: var(--primary);
            
        }
    }
}


/* FOR MOBILE DEVICES */

@media screen and (max-width: 490px) {
    .smallScreenStyle {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        align-items: center;
        padding: 0 10px;

        .settings {
            display: block;
            padding: 0;
        }
    }

    div.largeScreenStyle {
        padding: unset;
    }

    div.largeScreenStyle * {
        padding-right: 0;
        display: none;
    }
}