.bannerimg {
    position: relative;
    top: 10vh;
    height: 90vh;
    width: 100vw;
    backdrop-filter: blur(100px);
    text-align: center;
    line-height: 75vh;

    background-image: url(../../assets/images/fashion__Designs_Ghana.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;

    .h1 > * {
        margin: 0;
    }

    h1 {
        font-family: var(--opensans);
        color: var(--primary);
        font-size: 50px;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }

    .categories {
        width: 15vw;
        height: 10vh;
        border: 2px solid #135CBD;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        line-height: 10vh;
        cursor: pointer;
        font-weight: bold;
        color: #135CBD;
        cursor: pointer;
    }

    .categories:hover {
        color: var(--primary);
        border-color: var(--primary);
    }
}

@media screen and (max-width: 490px) {
    .bannerimg {
        width: 100vw;
        height: 30vh;

        img {
            height: 30vh;
        }
        .categories {
            display: none;
        }

        h1 {
            line-height: 30vh;
            font-size: 32px;
        }
    }
}