.search {
    font-size: 25px;
}

div.searchDiv {
    width: 20vw;
    border-radius: 10px;
    border: 2px solid var(--blue);
    display: flex;
    justify-content: start;
    align-items: center;

    input {
        border: none;
        outline: none;
        width: 60%;
    }
}