div.products_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 490px) {
    div.products_container {
        margin-bottom: 2rem;
    }
}