/* FOR DESKTOP SCREENS */
div.product {
    height: 50vh;
    width: 19vw;

    .addtocartButton {
            display: block !important;
            color: var(--blue);
        }
}
@media screen and (max-width: 490px) {
    div.product {
        height: 35vh;
        width: 22vh;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    }
}