.bannerimg {
    position: relative;
    top: 10vh;
    height: 65vh;
    width: 100vw;

    img {
        height: 65vh;
        width: 100%;
    }

    .categories {
        width: 15vw;
        height: 10vh;
        border: 2px solid #135CBD;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        line-height: 10vh;
        cursor: pointer;
        font-weight: bold;
        color: #135CBD;
        cursor: pointer;
    }

    .categories:hover {
        color: var(--primary);
        border-color: var(--primary);
    }
}

@media screen and (max-width: 490px) {
    .bannerimg {
        width: 100vw;
        height: 30vh;

        img {
            height: 30vh;
        }
        .categories {
            display: none;
        }
    }
}