@media screen and (max-width: 490px) {
    .navbar_mobile {
        height: 10vh;
        background-color: var(--primary);
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        color: var(--lightprimary);
        
        .storefront, .search, .chat, .cart, .person {
            font-size: 25px;
            cursor: pointer;
        }

        a {
            color: var(--lightprimary);
            text-decoration: none;
        }

        .chat {
            font-size: 22px !important;
        }

        .storefront {
            font-size: 24px !important;
        }
    }

    Link. {
        columns: var(--lightprimary);
    }
}